.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #68B738;
    &:hover {
      background-color: #5EAA2F;
    }
    &:active {
      color: rgba(#ffffff, 30%);
    }
}
