.contacts {
    margin: 0 auto;
    width: 320px;
}
.contacts__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 20px;
    background-color: #F2F2F2;
}
.contacts__container--main {
  background-color: #ffffff;
}
.contacts__title {
    margin: 0;
}
@media (min-width: $tablet-width) {
  .contacts {
    width: 100%;
  }
  .contacts__container {
    width: 628px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 70px 60px;
 }
}
@media (min-width: $desktop-width) {
  .contacts{
    margin: 0 auto;
    width: 1440px;
    position: relative;
  }
  .contacts__container {
    position: absolute;
    width: 403px;
    height: 198px;
    align-items: center;
    background-color: #fff;
    padding: 0px 80px;
    z-index: 1;
    left: 111px;
    top: 92px;
  }
}
