
.data-list {
  @include list-reset;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .data-list {
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .data-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
}
