.additional-products {
    margin: 0 auto;
    width: 320px;
    padding-bottom: 36px;
}
.additional-products__container {
    padding: 25px 20px 20px;
}
.additional-products__title {
    margin: 0;
}
.extra-item {
  position: relative;
    padding-bottom: 32px;
    &::after {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      background-color: #CDCDCD;
      bottom: 14px;
    }
}
.extra-title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 35px;
}
.extra-list {
    display: flex;
    flex-direction: column;
    @include list-reset;
    border-top: 1px solid #CDCDCD;
    padding-top: 13px;
}
.heading {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #222222;
    margin: 0;
    padding-bottom: 10px;
}
.extra-description {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    margin: 0;
    padding-bottom: 12px;
}
.extra-button {
    border: 0;
    padding: 10px 110px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
@media (min-width: $tablet-width) {
  .additional-products {
    margin: 0 auto;
    width: 768px;
  }
  .additional-products__container {
    padding: 0 30px;
  }
  .extra-list {
    border: 1px solid #CDCDCD;
    border-top: 0;
    box-sizing: border-box;
    padding: 0 38px;
  }
  .extra-item {
    position: relative;
    padding: 26px 0 28px;
    display: grid;
    grid-template-columns: 405px 225px;
    &::before {
      content: "";
      position: absolute;
      width: 708px;
      height: 1px;
      background-color: #CDCDCD;
      left: -38px;
    }
    &::after {
      display: none;
    }
  }
  .extra-button {
    grid-column: 1/3;
    font-size: 16px;
    line-height: 20px;
  }
  .heading {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 25px;
  }
  .extra-title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 80px 37px;
  }
  .extra-description {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: $desktop-width) {
  .additional-products {
    margin: 0 auto;
    width: 1440px;
    display: flex;
  }
  .additional-products__container {
    padding: 0 80px 87px 110px;
  }
  .extra-list {
    width: 895px;
    border: 0;
    border-bottom: 1px solid #CDCDCD;
    box-sizing: border-box;
    padding: 0;
  }
  .extra-item {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 165px 486px 244px;
    grid-template-rows: 40px;
    padding: 17px 0 15px;
    &::before {
      content: "";
      position: absolute;
      width: 895px;
      height: 1px;
      background-color: #CDCDCD;
      left: 0;
      top: 0;
    }
  }
  .heading {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
  .extra-title {
    font-size: 36px;
    line-height: 36px;
    padding: 0px 40px 80px 40px;
    margin-left: -40px;
  }
  .extra-description {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
  .extra-button {
    padding: 10px 97px;
    grid-column: 3/4;
  }
  .extra-description {
    padding-left: 160px;
    padding-right: 38px;
  }
}
