.main-footer {
    position: relative;
    margin: 0 auto;
    width: 320px;
    background-color: #F2F2F2;
    &::before {
        content: "";
        position: absolute;
        width: 280px;
        height: 0;
        border: 1px solid #D9D9D9;
        top: 93px;
        left: 20px;
    }
    &::after {
        content: "";
        position: absolute;
        width: 280px;
        height: 0;
        border: 1px solid #D9D9D9;
        bottom: 80px;
        left: 20px;
    }
}
.main-footer__logo-name {
    padding: 40px 0 28px;
    text-align: center;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
}
.main-footer__socials-list {
    padding: 20px 0;
}
.main-footer__copiryght {
    padding: 19px 21px 22px 18px;
}
@media (min-width: $tablet-width) {
  .main-footer {
    width: 100%;
    &::after {
      width: 0;
      height: 0;
    }
    &::before {
      width: 0;
      height: 0;
    }
  }
  .main-footer__logo-name {
    padding: 0;
    margin-right: 46px;
  }
  .main-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
    padding: 59px 30px 55px;
  }
 .main-footer__socials-list {
   padding: 0;
 }
 .main-footer__copiryght {
   padding: 0;
 }
}
@media (min-width: $desktop-width) {
  .main-footer {
    width: 100%;
    &::after {
      width: 0;
      height: 0;
    }
    &::before {
      width: 0;
      height: 0;
    }
  }
  .main-footer__logo-name {
    padding: 0;
  }
  .main-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    padding: 54px 110px 58px;
  }
 .main-footer__socials-list {
   padding: 0;
 }
 .main-footer__copiryght {
   padding: 0;
 }
}
