.main-header {
  margin: 0 auto;
  width: 320px;
  position: relative;
}

.main-header__container {
  display: grid;
  grid-template-columns: 110px 1fr;
  align-items: center;
  row-gap: 13px;
  padding-top: 10px;
}

.main-header__logo {
  padding-left: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__logo-name {
  padding-top: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    margin: 0 auto;
    width: 768px;
  }

  .main-header__logo {
    padding: 0;
    width: 174px;
    height: 52px;
  }

  .logo-icon__link {
    width: 174px;
    height: 52px;
  }

  .main-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 30px 30px;
  }

  .main-header__logo-name {
    margin-left: 12px;
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 0 auto;
    width: 1440px;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }

  .logo-icon__link picture {
    display: block;
    width: 202px;
    height: 59px;
    margin: 0;
  }

  .main-header__container {
    padding: 54px 110px 29px;
  }
}
