.input {
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
    &::placeholder {
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #444444;
    }
    &:hover {
      border: 1px solid #CDCDCD
    }
    &:focus {
      outline: 2px solid #444444;
    }
    &:invalid {
      outline: 2px solid #FF8282;
    }
}
@media (min-width: $tablet-width) {
  .input {
    font-size: 20px;
    line-height: 30px;
    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
