.line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 200vw;
    left: -100vw;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
    top: 22%;
  }
}

.line__container {
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .line__container {
    max-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .line {
    width: 1220px;
  }

  .line__container {
    max-width: 1440px;
  }
}
