.live-title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .live-title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .live-title {
    grid-row: 3/4;
    padding-bottom: 147px;
  }
}
