.live-item--right {
  margin-right: 0;
}

.live-item {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
}

.live-item__weight {
  margin-top: 15px;
  padding: 0 25px;
}

.live-item__weight-loss {
  margin: 0;
}

.live-item__time-spent {
  margin: 0;
}
