.presents {
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-repeat: no-repeat;
  background-image: url("../img/present-back.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/present-mobile@2x.png");
    background-size: 280px auto;
  }

  background-position: 20px;

  &::after {
    content: url("../img/icon_gift.svg");
    position: absolute;
    top: 60px;
    right: 120px;
  }
}

.presents__container {
  position: relative;
  background-color: rgba(#68b738, 85%);
  width: 280px;
  height: 290px;
  margin-left: 20px;
}

.presents__info {
  margin: 0;
  padding: 189px 60px 43px;
  text-align: center;
}

.info-present {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .presents {
    margin: 0 auto;
    width: 708px;
    padding: 69px 30px 76px;
    background-repeat: no-repeat;
    background-image: url("../img/back-presents-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/present-tablet@2x.png");
      background-size: 707px auto;
    }

    background-position: 30px;
    margin-top: -10px;

    &::after {
      top: 136px;
      left: 107px;
    }
  }

  .presents__container {
    width: 708px;
    height: 200px;
    margin: 0;
    margin-top: 7px;
  }

  .presents__info {
    padding: 73px 129px 69px 422px;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .presents {
    position: relative;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    background-image: url("../img/presents-back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/present-desktop@2x.png");
      background-size: 246px auto;
    }
    background-size: 245px 290px;
    background-position: 0;

    &::after {
      content: url("../img/icon_gift.svg");
      position: absolute;
      top: 146px;
      left: 85px;
    }
  }

  .presents__container {
    position: relative;
    background-color: rgba(#68b738, 85%);
    width: 245px;
    height: 290px;
    margin: 0;
    margin-top: 87px;
  }

  .presents__info {
    margin: 0;
    padding: 187px 40px 0;
    text-align: center;
  }

  .info-present {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    z-index: 2;
  }

  .additional-products__presents {
    margin-top: 28px;
    height: 463px;
  }
}
