.products-list {
  @include list-reset;
}
.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 74px 1fr 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #EBEBEB;
}
.product-card__image {
  padding: 47px 36px 0;
}
.product-card__image--first {
  padding-top: 33px;
}
.product-card__image--big {
  padding: 30px 28px 0;
}
.title-products--sub {
  padding-left: 36px;
}
.title-products {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 41px;
  margin: 0;
  padding-top: 20px;
}
.product-card__description-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-bottom: 22px;
  grid-column: 2/3;
}
.description-list {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.description-list__item {
  display: flex;
  justify-content: space-between;
}
.product-card__button {
  grid-column: 1/3;
}
.product-button {
  border: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.product-card-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #EBEBEB;
  padding: 25px 0;
}
.plus-button {
  background-color: transparent;
  border: 0;
}
.info {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  padding-top: 7px;
  padding-bottom: 20px;
  margin: 0;
}
.button-all {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  background: #F2F2F2;
  padding: 10px 0;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  &:hover {
    background-color: #EBEBEB;
  }
  &:active {
    opacity: 0.6;
  }
}
@media (min-width: $tablet-width) {
.products-list {
  display: grid;
  grid-template-columns: 324px 324px;
  grid-template-rows: 430px 430px 430px 430px;
  column-gap: 60px;
  row-gap: 141px;
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: #F2F2F2;
  padding: 160px 37px 39px;
}
.product-card__image {
  position: absolute;
  top: 0;
  padding: 0;
}
.product-card__image--small {
  width: 161px;
  height: 172px;
  top: -45px;
  left: 82px;
}
.product-card__image--big {
  width: 168px;
  height: 200px;
  top: -73px;
  left: 80px;
}
.title-products {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  padding: 0 50px 12px;
  text-align: center;
}
.description-list {
  font-size: 16px;
  padding-bottom: 31px;
}
.description-list__item {
  padding: 8px 0;
  border-bottom: 1px solid #CDCDCD;
  align-items: center;
}
.product-button {
  padding: 10px 0;
}
.product-card-more {
  box-sizing: border-box;
  padding: 52px 38px 38px;
  border: 2px solid #F2F2F2;
  align-items: stretch;
  justify-content: flex-start;
}
.product-card-more__plus {
  padding-bottom: 42px;
  & svg {
   width: 60px;
   height: 60px;
  }
}
.info {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 9px 20px 87px;
}
}
@media (min-width: $desktop-width) {
.products-list {
  display: grid;
  grid-template-columns: 245px 245px 245px 245px;
  grid-template-rows: 431px 431px;
  column-gap: 80px;
  row-gap: 143px;
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: #F2F2F2;
  padding: 162px 39px 40px;
}
.product-card__image {
  position: absolute;
  top: 0;
  padding: 0;
}
.product-card__image--small {
  top: -53px;
  left: 42px;
}
.product-card__image--big {
  top: -82px;
  left: 42px;
}
.title-products {
  margin: 0;
  font-size: 20px;
  line-height: 21px;
  padding: 0 10px 16px;
  margin-left: 6px;
  text-align: center;
}
.description-list {
  font-size: 16px;
  padding-bottom: 31px;
}
.description-list__item {
  padding: 8px 3px;
  border-bottom: 1px solid #CDCDCD;
  align-items: center;
}
.product-button {
  padding: 10px 0;
}
.product-card-more {
  box-sizing: border-box;
  padding: 49px 37px 38px;
  border: 2px solid #F2F2F2;
  align-items: stretch;
  justify-content: flex-start;
}
.product-card-more__plus {
  padding-bottom: 47px;
  & svg {
   width: 60px;
   height: 60px;
  }
}
.info {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 0px 0 87px;
  margin-top: 7px;
}
.title-catalog {
  padding-bottom: 167px;
}
.value {
  margin-right: -5px;
}
}
