.slider__control__before {
  margin-left: 40px;
  border-bottom: 1px dotted #cdcdcd;
  box-sizing: border-box;
  height: 32px;
}

.slider__item {
  padding-bottom: 8px;
}

.slider__control__after {
  border-bottom: 1px dotted #cdcdcd;
  box-sizing: border-box;
  height: 32px;
}

.slider__after-image {
  display: none;
}

.slider__range {
  appearance: none;
  background: #ffffff;
  border-radius: 6px;
  width: 85px;
  height: 14px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  padding: 4px 6px;
  margin: 0;
  margin-left: 20px;
  margin-right: 18px;
}

.slider__control {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  &:hover .slider__control__before {
    border-bottom: 1px solid #cdcdcd;
  }

  &:hover .slider__control__after {
    border-bottom: 1px solid #cdcdcd;
  }

  &:active .slider__control__before {
    border: 0;
  }

  &:active .slider__control__after {
    border: 0;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
    height: 601px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .slider__item {
    min-width: 296px;
    position: absolute;
    padding-bottom: 0;
    top: -9px;
  }

  .slider__item--before {
    left: 0;
    width: 43%;
    overflow: hidden;
    margin-left: 60px;
  }

  .slider__item--after {
    right: 0;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    clip: rect(auto, 690px, auto, 355px);
  }

  .slider__control {
    font-family: "Oswald", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 40px;
  }

  .slider__before-image {
    width: 644px;
    height: 500px;
    max-width: 644px;
  }

  .slider__after-image {
    height: 510px;
    width: 536px;
    display: block;
    margin-left: auto;
  }

  .slider__control__before {
    margin-left: 12px;
  }

  .slider__control__after {
    margin-left: 6px;
  }

  .slider__range {
    background: #dcdcdc;
    border-radius: 6px;
    width: 426px;
    height: 6px;
    padding: 0;
    border: 0;
    margin-right: 23px;
  }
}

@media (min-width: $desktop-width) {
  .slider__control {
    padding-bottom: 0;
    margin-bottom: 74px;
  }

  .slider__item--before {
    left: 0;
    width: 43%;
    overflow: hidden;
    margin-left: 5px;
  }

  .slider__item--after {
    clip: rect(auto, 690px, auto, 299px);
  }

  .slider__item {
    min-width: 294px;
    top: -42px;
  }
}
