.slogon-promo {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .slogon-promo {
    padding-left: 87px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .slogon-promo {
    padding-left: 80px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 32px;
    width: 283px;
  }
}
