.title-form {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: $tablet-width) {
  .title-form {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 55px;
 }
}
