.weight {
  display: block;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  width: 69px;
}

@media (min-width: $tablet-width) {
  .weight {
    margin: 0;
    padding: 15px 57px 20px;
    font-size: 30px;
    line-height: 37px;
    width: auto;
  }
}
